---
---

@import 'normalize';
@import 'skeleton';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@media (min-width: 550px) {
  body {
    font-size: large;
  }
}

$link: rgb(59, 73, 198);
$text: rgb(60, 60, 60);

body {
  color: $text;
  font-family: 'Open Sans', sans-serif;
}

main, footer {
  max-width: 650px;
  padding: 16px;
  margin: 32px auto;
}

a, a:hover {
  color: $link;
}
