<div class="darkMode">
  <input type="checkbox" class="dn" id="dn"/>
  <label for="dn" class="toggle">
    <span class="toggle__handler">
      <span class="crater crater--1"></span>
      <span class="crater crater--2"></span>
      <span class="crater crater--3"></span>
    </span>
    <span class="star star--1"></span>
    <span class="star star--2"></span>
    <span class="star star--3"></span>
    <span class="star star--4"></span>
    <span class="star star--5"></span>
    <span class="star star--6"></span>
  </label>
  <div class="mood-bg"></div>
</div>

<script>
  //Dark Mode
  function darkMode(){
    if($("#dn").is(':checked')) {$("body").addClass("dark");}
    else {$("body").removeClass("dark");}
  }
  $("#dn").change(darkMode)
  darkMode();
</script>
