<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Steven Kraft - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tippy.css">
  </head>

  <body>
    <main>
      {{ content }}
    </main>

    <footer>
      &copy; 2017 Steven Kraft<br />
      <a href='mailto:steven.kraftjp@gmail.com'>steven.kraftjp@gmail.com</a>
    </footer>
  </body>
  <script src="/js/tippy.min.js"></script>
  <script>
    Tippy('.icon', {
    position: 'bottom',
    })
  </script>
</html>
