<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link href="../css/style.css" rel="stylesheet">
		<script src="/js/jquery-1.12.4.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
	</head>

	<body>
		<a href="/projects/japanese/" id="back">&#8249;</a>
		<div class="wk-content">
				<h1>{{ page.title }}</h1>
				<p id="word"></p>
				<div>
					<h3 id="random"></h3>
					<h3 id="english"></h3>
				</div>
				<input id="input-IME" autofocus="true" autocapitalize="off" autocomplete="off" autocorrect="off" type="text" lang="ja">
		</div>

			<div>
				<h3 id="type"></h3>
			</div>

			<div>
				<h3><span id="correct">0</span>/<span id="incorrect">0</span>/<span id="percent">100%</span></h3>
			</div>

			<div>
				<fieldset>
				<legend>Settings</legend>
					<ul class="tg-list">
						{% for setting in page.extra_settings %}
							<li class="tg-list-item inline">
								<h4>{{ setting.label }}</h4>
								<input class="tgl tgl-light opt" id="{{ setting.id }}" type="checkbox" name="{{ setting.var }}"/>
								<label class="tgl-btn" for="{{ setting.id }}"></label>
							</li>
						{% endfor %}
						<div></div>
						<li class="tg-list-item inline">
					    <h4>Randomize Forms</h4>
					    <input class="tgl tgl-light" id="randomsetting" name="rand" type="checkbox"/>
					    <label class="tgl-btn" for="randomsetting"></label>
					  </li>
					</ul>

					<ul class="tg-list">
						<li class="tg-list-item inline">
					    <h4>Show Kanji</h4>
					    <input class="tgl tgl-light" id="kanjisetting" type="checkbox"/>
					    <label class="tgl-btn" for="kanjisetting"></label>
					  </li>
						<li class="tg-list-item inline">
					    <h4>Show Furigana (Shift)</h4>
					    <input class="tgl tgl-light" id="furisetting" type="checkbox"/>
					    <label class="tgl-btn" for="furisetting"></label>
					  </li>
						<li class="tg-list-item inline">
					    <h4>Hide Type</h4>
					    <input class="tgl tgl-light" id="typesetting" type="checkbox"/>
					    <label class="tgl-btn" for="typesetting"></label>
					  </li>
						<div></div>
						<li class="tg-list-item inline">
					    <h4>Show English</h4>
					    <input class="tgl tgl-light" id="englishsetting" type="checkbox"/>
					    <label class="tgl-btn" for="englishsetting"></label>
					  </li>
						<li class="tg-list-item inline">
					    <h4>Fast Mode</h4>
					    <input class="tgl tgl-light" id="fastsetting" type="checkbox"/>
					    <label class="tgl-btn" for="fastsetting"></label>
					  </li>
					</ul>
				</fieldset>
			</div>

			<div>
				<h1 id="correct-answer"></h1>
				<h2 id="meaning"></h2>
			</div>

		{% include darkmode.html %}

		<script type="text/javascript" src="../js/wanakana.min.js"></script>
		<script type="text/javascript" src="../js/verbs.js"></script>
		<script type="text/javascript" src="{{ page.jsname }}.js"></script>
		<script type="text/javascript" src="../js/main.js"></script>
	</body>

</html>
